In [34]:
import pandas as pd

In [35]:
# The path to our CSV file
# Read our Kickstarter data into pandas

df = pd.read_csv("Resources/KickstarterData.csv")

In [36]:
# Get a list of all of our columns for easy reference

list(df)

['id',
 'photo',
 'name',
 'blurb',
 'goal',
 'pledged',
 'state',
 'slug',
 'disable_communication',
 'country',
 'currency',
 'currency_symbol',
 'currency_trailing_code',
 'deadline',
 'state_changed_at',
 'created_at',
 'launched_at',
 'staff_pick',
 'is_starrable',
 'backers_count',
 'static_usd_rate',
 'usd_pledged',
 'creator',
 'location',
 'category',
 'profile',
 'spotlight',
 'urls',
 'source_url',
 'friends',
 'is_starred',
 'is_backing',
 'permissions']

In [60]:
loc_test = df.loc("country" = "US")

SyntaxError: keyword can't be an expression (<ipython-input-60-08a9254ccb6b>, line 1)

In [37]:
# Extract "name", "goal", "pledged", "state", "country", "staff_pick",
# "backers_count", and "spotlight"



df2 = df.filter(["name","goal","pledged","state","country","staff_pick","backers_count","spotlight"], axis = 1)
df2.count()

name             4120
goal             4120
pledged          4120
state            4120
country          4120
staff_pick       4120
backers_count    4120
spotlight        4120
dtype: int64

In [38]:
# Remove projects that made no money at all
df2= df2[df2["pledged"] > 0]
df2.count()

name             3307
goal             3307
pledged          3307
state            3307
country          3307
staff_pick       3307
backers_count    3307
spotlight        3307
dtype: int64

In [40]:
# Collect only those projects that were hosted in the US
just_US= df2[df2["country"] == "US"]
just_US.count()

name             2129
goal             2129
pledged          2129
state            2129
country          2129
staff_pick       2129
backers_count    2129
spotlight        2129
dtype: int64

In [62]:
# Create a new column that finds the average amount pledged to a project

df2["Average Pledged"] = df2["pledged"]/df2["backers_count"]

df2.head()

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight,% Pledged,Average Pledged
0,The Class Act Players Theatre Company Presents...,1500.0,2925.0,successful,US,False,17,True,0.000343,172.058824
1,MR INCREDIBLE by Camilla Whitehill - VAULT Fes...,2500.0,2936.0,successful,GB,True,15,True,0.000343,195.733333
2,RUN,1000.0,1200.0,successful,GB,False,30,True,0.000343,40.000000
3,9th International Meeting of Youth Theatre sap...,2000.0,2135.0,successful,IT,False,24,True,0.000343,88.958333
4,Get Conti to the Ed Fringe!,1000.0,1250.0,successful,GB,False,28,True,0.000343,44.642857

In [64]:
# Format our "average_donation", "goal", and "pledged" columns
# to go to two decimal places, include a dollar sign, and; use comma notation
df2["% Pledged"] = df2["pledged"]/df2["goal"]*100
df.head()

,id,photo,name,blurb,goal,pledged,state,slug,disable_communication,country,...,location,category,profile,spotlight,urls,source_url,friends,is_starred,is_backing,permissions
0,1645666704,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",The Class Act Players Theatre Company Presents...,The Class Act Players put on another one of th...,1500.0,2925.0,successful,the-class-act-players-theatre-company-presents...,False,US,...,"{""country"":""US"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
1,874638240,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",MR INCREDIBLE by Camilla Whitehill - VAULT Fes...,"A brand new play about love and entitlement, b...",2500.0,2936.0,successful,mr-incredible-by-camilla-whitehill-vault-festival,False,GB,...,"{""country"":""GB"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
2,247074984,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",RUN,Yonni's pissed off in a world filled with scho...,1000.0,1200.0,successful,run-10,False,GB,...,"{""country"":""GB"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
3,1941196813,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",9th International Meeting of Youth Theatre sap...,27. April bis 1. Mai 2016 in Brixen/Südtirol/I...,2000.0,2135.0,successful,9th-international-meeting-of-youth-theatre-sap...,False,IT,...,"{""country"":""IT"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
4,421961595,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",Get Conti to the Ed Fringe!,The Italia Conti 2nd years are going to Ed Fri...,1000.0,1250.0,successful,get-conti-to-the-ed-fringe,False,GB,...,"{""country"":""GB"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN

In [68]:
# Calculate the total number of backers for all US projects
total_us_backers = sum(just_US.backers_count)
print(total_us_backers)

89273

In [ ]:
# Calculate the average number of backers for all US projects

In [ ]:
# Collect only those US campaigns that have been picked as a "Staff Pick"

In [ ]:
# Group by the state of the campaigns and see if staff picks matter (Seems to matter quite a bit)